{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3 style="color:hsla(9, 100%, 1%, 0.5);">
    {{ message }}
</h3>



<h3 style="color:hsla(9, 100%, 0%, 0.5);">
    This project actually comes from a high school in Tel-Aviv,
    Israel. We are students in tenth grade.
    Everyone had to pick a topic that intrigued him
    and I chose a pretty tough topic. Drug deaths in different
    countries. I chose this topic because I care deeply about
    the weak, drug-addicted population. Each of these people is
    important to me and intrigues me to investigate this issue.

    We use the tools we learned from the beginning of the year,
    such as:
    Flask, html, python, pandas, anaconda,
    And more
    So far, we have practiced a lot and implemented other
    Internet projects as well.
</h3>


    {% endblock %}
