{% extends "layout.html" %}

{% block content %}

<h1>{{ title }}.</h1>
<h3>{{ message }}</h3>

<p> information about the program</p>
<p3>
    My project is about deaths in various states in the
    United States from drugs. The goal is to compare different
    countries and what type of drug raises the mortality rates so
    that we can treat drug addicts in each
    country according to this comparison.
</p3>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Medical Cannabis </h3>
            <p> The influencers </p>
            <td>
                <img src="static/pics/cannabis.jpg" width="300" height="300" />
            </td>
        </div>
        <div class="col-sm-4">
            <h3>Syringe</h3>
            <p> The influencers </p>
            <td>
                <img src="static/pics/download.jfif" width="300" height="300" />
            </td>
        </div>
        <div class="col-sm-4">
            <h3>Pills </h3>
            <p> The influencers </p>
            <td>
                <img src="static/pics/pills_hand.jpg" width="300" height="300" />
            </td>

        </div>
    </div>
</div>



<h2>
    Data Sets
</h2>
<table style="width:100%">
    <tr>
        <th>Name of Dataset</th>
        <th>Description</th>
        <th>link</th>
    </tr>
    <tr>
        <td>state statistics</td>
        <td>In this source of information, we are going to show the differences between deaths and the type of drug in all kinds of countries</td>
        <td>
            <a href="{{ url_for('dataset1') }}">Dataset</a>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>




    {% endblock %}
