{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h4>{{ message }}</h4>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for message in messages %}
<br />
    {% endfor %}
{% endif %}
{% endwith %}

<br />
<br />
<br />


<div class="row" ">

    <form method=post>
        {{ form.csrf }}
        {{ form.csrf_token }}
        <table>
            <tr>
                <td>
                    {{ form.states.label }}
                </td>
                <td>
                    {{ form.states }}
                </td>
                <td>
                    {% if form.states.errors %}
                    <ul class="text-danger">{% for error in form.FirstName.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </td>
            </tr>
            <tr>

                <td>

                    <div class="form-group  required">
                        <label class="control-label" for="start_date">{{ form.start_date.label }}</label>

                        <input class="form-control" id="start_date" name="start_date" required="" type="date" value="2017-01-31">

                    </div>


                </td>

                <td>
                    {% if form.start_date.errors %}
                    <ul class="text-danger">{% for error in form.FirstName.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>

                    <div class="form-group  required">
                        <label class="control-label" for="start_date">
                            {{ form.end_date.label }}
                        </label>

                        <input class="form-control" id="end_date" name="end_date" required="" type="date" value="2017-01-31">

                    </div>

                </td>

                <td>
                    {% if form.end_date.errors %}
                    <ul class="text-danger">{% for error in form.FirstName.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td>
                    {{ form.kind.label }}
                </td>
                <td>
                    {{ form.kind }}
                </td>
                <td>
                    {% if form.kind.errors %}
                    <ul class="text-danger">{% for error in form.FirstName.errors %}<li>{{ error }}</li>{% endfor %}</ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="input submit"> <input type="submit" value="Caculate"> </td>
            </tr>
        </table>
    </form>
</div>

<div class="row">

    <div class="col-md-4">

    </div>


    <div class="col-md-4">

        <div class="col-md-4">

        </div>

    </div>

</div>

<hr />

<div class="row">

    <div class="col-md-2">

    </div>

    <div class="col-md-8">

        <img src={{ chart }} class="img-thumbnail" alt="not found" height={{height}} width={{ width }}>
        <h3>{{chartyear[1]}}</h3>
    </div>
    <div class="col-md-8">

        <img src={{ chart }} class="img-thumbnail" alt="not found" height={{height}} width={{ width }}>
        <h3>{{chartyear[1]}}</h3>
    </div>

</div>

<hr />



    {% endblock %}
