{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1>
            My Data Sience project
        </h1>
        <p class="lead">
            Data science is a very important profession that can significantly advance the development of the world
        </p>
        <table border="1">
            <tr>
                <td>
                    
                </td>
            </tr>
    </div>

<div class="row">
    <div class="col-md-4">
        <h2>Tichonet</h2>
        <p>

            The innovative and developing school teaches innovative methods and requires students to buy a computer.
        </p>
        <p><a class="btn btn-default" href="http://www.tichonet.com/BRPortal/br/P100.jsp">Learn more &raquo;</a></p>
        <p>
            <img src="static/pics/tichonet.jfif" width="300" height="300" />

        </p>
    </div>
    <div class="col-md-4">
        <h2>Program</h2>
        <p>
            This program teaches children basic tools for the profession of data science and website building

        </p>
        <p><a class="btn btn-default" href="http://www.tichonet.com/BRPortal/br/P100.jsp">Learn more &raquo;</a></p>
        <p>
            <img src="static/pics/tichonet1.jfif" width="300" height="300" />

        </p>
    </div>
</div>

{% endblock %}
